<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
  
                        <h3 class="mb-5">Create Account</h3>
  
                            <form action="/auth/signup" method="POST">

                            <div class="form-outline mb-4">
                            <label class="form-label" for="typeEmailX-2" for="new-name">name</label>
                            <input id="typePasswordX-2" class="form-control form-control-lg" id="new-name" type="text" name="name">
                            </div>

                            <div class="form-outline mb-4">
                            <label class="form-label" for="typeEmailX-2" for="new-email">email</label>
                            <input id="typePasswordX-2" class="form-control form-control-lg" id="new-email" type="email" name="email">
                            </div>

                            <div class="form-outline mb-4">
                            <label class="form-label" for="typePasswordX" for="new-password">password</label>
                            <input id="typePasswordX-2" class="form-control form-control-lg" id="new-password" type="password" name="password" placeholder="must be at least 8 characters">
                            </div>
                            
                            <input class="btn btn-success btn-lg btn-block" type="submit" value="sign up">
                            </form>
                            
                            <p>Already have an account? Please <a href="/auth/login">login</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>