<nav>
    <a href="/">Leggo My Veggo</a>
    <a href="/plants">Plants</a>
    <% if(!currentUser){ %>
    <a href="/auth/signup">Signup</a>
    <a href="/auth/login">Login</a>
    <%} else { %>
    <a href="/users/profile"> <%= currentUser.name %></a>
    <a href="/users/plants">My Plants</a>
    <a href="/auth/logout">Logout</a>
<% } %>
</nav>