<div class="row">
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h3 style="text-align: center">Sorry...</h3>
            <h5>the page you are looking for doesn't exist or another error occurred.</h5>
            <br>
            <h5>find a <a href="/search">restaurant</a></h5>
        </div>
    </div>
</div>