<h2>Saved Restaurants</h2>
    <% results.forEach(result => { %>
        <p>
        <%= result.name %>
        </p>

    <form action="/profile/delete/<%= result.name %>" method="POST">
        <input type="submit" value="Delete">
    </form>

    <form action="/profile/comment/<%= result.id %>" method="GET">
        <button type="submit">leave a rating</button>
    </form>
<%})%>

<a href="/search/results">back to saved restaurants</a>