<div id="searchBar">
  <form action="/search/results" method="GET">
    <div>
     <img src="images/logo.png" alt="plant grub logo">
    </div>
      <h1>Hello <%= currentUser.name  %>!</h1>
        <input id="searchBox" type="text" name="zipCode" placeholder=" zip code">
        <button id="btn"  type="submit"><i id="glass" class="fas fa-search"></i></button>
          <div id="veg">
            <input class="form-check-input" type="radio" name="radio" id="inlineRadio1" value="vegan">
            <label class="form-check-label" for="inlineRadio1">vegan</label>
            <input class="form-check-input" type="radio" name="radio" id="inlineRadio1" value="vegetarian">
            <label class="form-check-label" for="inlineRadio1">vegetarian</label>     
          </div>
  </form>      
</div>   


